<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<link rel="icon" href="<?php echo ADMIN_IMG_URL; ?>base/logo.ico">
<link rel="stylesheet" href="<?php echo ADMIN_CSS_URL; ?>code.css">
<title>你没有权限访问！</title>
</head>

<body>
    <div class="wrapper-content text-c">
        <div class="alert alert-danger">
            <i class="iconfont">&#xe64f;</i> 
            <p>你没有权限访问！</p>
        </div>
    </div>
</body>
</html>